@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #88A3E2, #AAECFC);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FC8DCA;
    text-align: center;
    text-shadow: 1px 1px 2px hsla(327, 95%, 77%, 0.726);
}

h2 {
    color: #C37EDB;
}
p {
    text-align: justify;
}


